body {
    background-color: aquamarine;
}

/*
* CSS Andres ayuda 
body{
    display: flex;
    min-height: 100vh;
}

*Creacion de navbar vertical
nav{
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #000;
    border: 1px solid #333; 
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

main {
    padding: 10px;
    /* border: 10px solid red; */
    min-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (100px, 1fr));
    gap: 10 px;
}

.card {
    /* Que la altura de la card se ajuste al contenido de la card */
    max-width: fit-content;
}